body {
  /* min-height: 100vh; */
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.first-section {
  /* margin: 0; */
  padding: 16px 200px;
  background-color: #1f2937;
}

.header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  /* padding-top: 16px; */
  /* margin-bottom: 16px; */
}

.hero {
  display: flex;
  justify-content: space-evenly;
  padding: 100px 0px;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

ul {
  display: flex;
  color: #e5e7eb;
  font-size: 18px;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.left > h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 0;
}

.left > p {
  margin-top: 0;
}

.right,
.left {
  flex: 1;
  color: #e5e7eb;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.left {
  margin-right: 16px;
}

button {
  background-color: #3882f6;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  width: 128px;
  height: 32px;
  cursor: pointer;
}

h2 {
  display: flex;
  justify-content: center;
  margin: 32px;
}
.items {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 40px;
}

.container {
  max-width: 130px;
  text-align: center;
  color: #1f2937;
  font-size: 16px;
}

.info {
  border-width: 3px;
  border-color: #3882f6;
  border-style: solid;
  border-radius: 12px;
  width: 130px;
  height: 130px;
}

.third-section {
  background-color: #e5e7eb;
}

.quote {
  font-size: 36px;
}
